<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Assigment_1">
        
        <receiver
            android:name=".NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".NotificationService"
            android:foregroundServiceType="dataSync" />
            
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
            
        <activity
            android:name=".MainActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".FourthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".FifthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SixthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SeventhActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EightActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".NinthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".TenthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EleventhActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".TwelfthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ThirteenActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".FourteenthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".FifteenthActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SixteenActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SeventeenActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".EighteenActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".NineteenActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".TwentyActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".CommentsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".TwentyOneActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".LastActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".FollowersListActivity"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".AddPostActivity"
            android:exported="true">
        </activity>



    </application>

</manifest>